<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 <copyright>
	 Copyright (c) 2009-2019, Linagora

	 All rights reserved. This program and the accompanying materials
 	 are made available under the terms of the Eclipse Public License v1.0
 	 which accompanies this distribution, and is available at
 	 http://www.eclipse.org/legal/epl-v10.html
 
 	 Contributors:
     	 	Linagora - initial API and implementation
 </copyright>
-->

<plugin>

   <extension-point id="componentExtension" name="Extension to support component" schema="schema/componentExtension.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.linagora.petals.common.views"
            class="com.linagora.petals.services.explorer.ServiceExplorerNavigator"
            icon="icons/obj16/petals_service.png"
            id="com.linagora.petals.services.explorer"
            name="Petals Services">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.linagora.petals.services.explorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.linagora.petals.services.endpointExplorerContent">
            </contentExtension>
            <contentExtension
                  pattern="com.linagora.petals.services.suEditorLinkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="com.linagora.petals.services.explorer.dnd.ServiceExplorerDragAdapterAssistant"
            viewerId="com.linagora.petals.services.explorer">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.linagora.petals.services.explorer.ServiceExplorerContentProvider"
            id="com.linagora.petals.services.endpointExplorerContent"
            labelProvider="com.linagora.petals.services.explorer.ServiceExplorerLabelProvider"
            name="Petals services"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="projectNature"
                     value="com.linagora.petals.services.su.nature.SuNature">
               </test>
            </and>
         </triggerPoints>
         <actionProvider
               class="com.linagora.petals.services.explorer.ServiceExplorerActionProvider">
         </actionProvider>
         <commonSorter
               class="com.linagora.petals.services.explorer.CommonSorter"
               id="com.linagora.petals.services.explorer.CommonSorter">
         </commonSorter>
         <enablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.linagora.petals.services.su.explorer.SuEditorLinkHelper"
            id="com.linagora.petals.services.suEditorLinkHelper">
         <editorInputEnablement></editorInputEnablement>
         <selectionEnablement></selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         id="com.linagora.petals.tools.eclipse.su.main.nature"
         name="Petals Nature (Service Units)"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.linagora.petals.services.su.nature.SuNature">
         </run>
      </runtime>
      <builder
            id="com.linagora.petals.tools.eclipse.su.main.suBuilder">
      </builder>
   </extension>
   <extension
         id="com.linagora.petals.tools.eclipse.su.main.suBuilder"
         name="Petals Builder (Service Units)"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true">
         <run
               class="com.linagora.petals.services.su.nature.SuBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.linagora.petals.services.su.projectscnf.SuProjectContentProvider"
            id="com.linagora.petals.projects.service-units"
            labelProvider="com.linagora.petals.common.internal.provisional.projectscnf.PetalsProjectLabelProvider"
            name="Service Units"
            priority="normal">
         <triggerPoints>
            <test
                  property="com.linagora.petals.common.project-category-id"
                  value="petals.category.service-units">
            </test>
         </triggerPoints>
         <dropAssistant
               class="org.eclipse.ui.navigator.resources.ResourceDropAdapterAssistant"
               id="com.linagora.petals.services.dropAssistant">
            <possibleDropTargets>
            	<or>
	                 <adapt type="org.eclipse.core.resources.IProject"/>
	                 <adapt type="org.eclipse.core.resources.IFolder"/>
	                 <adapt type="org.eclipse.core.resources.IFile"/>
              	</or>
            </possibleDropTargets>
         </dropAssistant>
         <commonSorter
               class="com.linagora.petals.common.internal.provisional.projectscnf.PetalsProjectsSorter"
               id="com.linagora.petals.common.projectscnf.PetalsProjectResourceSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.linagora.petals.services.sa.projectscnf.SaProjectContentProvider"
            id="com.linagora.petals.projects.service-assemblies"
            labelProvider="com.linagora.petals.common.internal.provisional.projectscnf.PetalsProjectLabelProvider"
            name="Service Assemblies"
            priority="normal">
         <triggerPoints>
            <test
                  property="com.linagora.petals.common.project-category-id"
                  value="petals.category.service-assemblies">
            </test>
         </triggerPoints>
         <commonSorter
               class="com.linagora.petals.common.internal.provisional.projectscnf.PetalsProjectsSorter"
               id="com.linagora.petals.common.projectscnf.PetalsProjectResourceSorter">
         </commonSorter>
         <dropAssistant
               class="org.eclipse.ui.navigator.resources.ResourceDropAdapterAssistant"
               id="com.linagora.petals.services.dropAssistant">
            <possibleDropTargets>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <commonWizard
            type="import"
            wizardId="com.linagora.petals.services.importSaWizard">
         <enablement></enablement>
      </commonWizard>
      <commonFilter
            activeByDefault="true"
            class="com.linagora.petals.services.su.projectscnf.AttachedSuProjectsFilter"
            description="Service Units that are linked with Serivce Assembly projects"
            id="com.linagora.petals.services.orphanSuFilter"
            name="Attached Service Units">
      </commonFilter>
      <commonWizard
            type="export"
            wizardId="com.linagora.petals.services.suExportWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="export"
            wizardId="com.linagora.petals.services.saExportWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="export"
            wizardId="com.linagora.petals.services.suBulkExportWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="import"
            wizardId="com.linagora.petals.services.importFileStructure">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.linagora.petals.common.projects">
         <includes>
            <contentExtension
                  pattern="com.linagora.petals.services.orphanSuFilter">
            </contentExtension>
            <contentExtension
                  pattern="com.linagora.petals.services.editor.PetalsEditorsLinkHelper">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.linagora.petals.common.wizards"
            class="com.linagora.petals.services.sa.wizards.PetalsSaNewWizard"
            finalPerspective="com.linagora.petals.common.mainPerspective"
            hasPages="true"
            icon="icons/obj16/service_assembly.png"
            id="com.linagora.petals.services.sa.project"
            name="Service Assembly (SA)"
            project="true">
         <description>
            Create a Service Assembly project compatible with the Petals Maven plug-in
         </description>
      </wizard>
      <wizard
            category="com.linagora.petals.common.wizards"
            class="com.linagora.petals.services.su.wizards.NewServiceUnitSelectionWizard"
            finalPerspective="com.linagora.petals.common.mainPerspective"
            hasPages="true"
            icon="icons/obj16/service_unit.png"
            id="com.linagora.petals.services.su.project"
            name="Service Unit (SU)"
            project="true">
         <description>
            Create a Service Unit project for Petals.
         </description>
      </wizard>
   </extension>
   <extension
         id="com.linagora.petals.services.saNature"
         name="Petals Nature (Service Assemblies)"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.linagora.petals.services.sa.nature.SaNature">
         </run>
      </runtime>
      <builder
            id="com.linagora.petals.services.saBuilder">
      </builder>
   </extension>
   <extension
         id="com.linagora.petals.services.saBuilder"
         name="Petals Builder (Service Assemblies)"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true">
         <run
               class="com.linagora.petals.services.sa.nature.SaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:petals.projects.new?before=petals.new.separator1">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/obj16/service_assembly.png"
               label="Service Assembly (SA)"
               mnemonic="A"
               style="push"
               tooltip="Create a new Service Assembly (SA) project">
            <parameter
                  name="newWizardId"
                  value="com.linagora.petals.services.sa.project">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/obj16/provides_3.0.png"
               label="Service Unit (SU)"
               style="push"
               tooltip="Create a new Service Unit (SU) project">
            <parameter
                  name="newWizardId"
                  value="com.linagora.petals.services.su.project">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:petals.projects.resource.new?after=petals.wizard.new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/obj16/service_assembly.png"
               label="Service Assembly (SA)"
               mnemonic="A"
               style="push"
               tooltip="Create a new Service Assembly (SA) project">
            <parameter
                  name="newWizardId"
                  value="com.linagora.petals.services.sa.project">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/obj16/provides_3.0.png"
               label="Service Unit (SU)"
               style="push"
               tooltip="Create a new Service Unit (SU) project">
            <parameter
                  name="newWizardId"
                  value="com.linagora.petals.services.su.project">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.linagora.petals.common.actiongroup?before=com.linagora.petals.common.group.natures">
         <command
               commandId="com.linagora.petals.common.addPetalsNature"
               label="Add Nature for Service Units"
               style="push"
               tooltip="Add the Petals SU nature to the project">
            <parameter
                  name="natureId"
                  value="com.linagora.petals.tools.eclipse.su.main.nature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="com.linagora.petals.common.jbi-type"
                              value="SU">
                        </test>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.linagora.petals.tools.eclipse.su.main.nature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.linagora.petals.common.addPetalsNature"
               label="Add Nature for Service Assemblies"
               style="push"
               tooltip="Add the Petals SA nature to the project">
            <parameter
                  name="natureId"
                  value="com.linagora.petals.services.saNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="com.linagora.petals.common.jbi-type"
                              value="SA">
                        </test>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.linagora.petals.services.saNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.linagora.petals.common.actiongroup?after=com.linagora.petals.common.group.edit">
         <command
               commandId="com.linagora.petals.services.sa.updatepom"
               label="Update the project&apos;s POM"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.linagora.petals.services.saNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.linagora.petals.services.su.propertytester.ComponentPropertyTester"
            id="com.linagora.petals.services.componentPropertyTester"
            namespace="com.linagora.petals.services"
            properties="component-name"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.linagora.jbi.core.petals-category"
            description="Update the POM of a SA project"
            id="com.linagora.petals.services.sa.updatepom"
            name="Update the project&apos;s POM"
            defaultHandler="com.linagora.petals.services.sa.commands.UpdateSaPomHandler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.linagora.petals.services.su.export.SuFastExportCommandHandler"
            commandId="com.linagora.petals.common.fastexport">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.linagora.petals.tools.eclipse.su.main.nature">
                           </test>
                        </and>
                     </adapt>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.linagora.petals.tools.eclipse.su.main.nature">
                        </test>
                    </and>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.linagora.petals.services.sa.commands.SaFastExportCommandHandler"
            commandId="com.linagora.petals.common.fastexport">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.linagora.petals.services.saNature">
                        </test>
                     </adapt>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.linagora.petals.services.saNature">
                        </test>
                     </and>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.linagora.petals.services.sa.refactoring.SaProjectRefactorHandler"
            commandId="com.linagora.petals.common.refactorProject">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.linagora.petals.services.saNature">
                           </test>
                        </adapt>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.linagora.petals.services.saNature">
                           </test>
                        </and>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.linagora.petals.services.su.refactoring.SuProjectRefactorHandler"
            commandId="com.linagora.petals.common.refactorProject">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.linagora.petals.tools.eclipse.su.main.nature">
                           </test>
                        </adapt>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.linagora.petals.tools.eclipse.su.main.nature">
                           </test>
                        </and>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.linagora.petals.common.importWizard"
            class="com.linagora.petals.services.wizards.ServiceAssemblyImportWizard"
            icon="icons/obj16/import_service_assembly.png"
            id="com.linagora.petals.services.importSaWizard"
            name="Service Assembly">
         <description>
            Import a Petals service assembly as a set of Petals projects
         </description>
      </wizard>
      <wizard
            category="com.linagora.petals.common.importWizard"
            class="com.linagora.petals.services.wizards.FileStructureImportWizard"
            icon="icons/obj16/importdir_wiz.gif"
            id="com.linagora.petals.services.importFileStructure"
            name="Petals File Structure">
         <description>
            Create a Petals project from a file structure
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.linagora.petals.common.preferences"
            class="com.linagora.petals.services.su.preferences.SuPreferencePage"
            id="com.linagora.petals.services.prefs.services"
            name="Services">
      </page>
      <page
            category="com.linagora.petals.common.preferences"
            class="com.linagora.petals.services.preferences.MavenPreferencePage"
            id="com.linagora.petals.services.prefs.maven"
            name="Maven">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.linagora.petals.services.su.properties.SuPropertyPage"
            id="com.linagora.petals.services.su.properties"
            name="Petals">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
         <filter
               name="projectNature"
               value="com.linagora.petals.tools.eclipse.su.main.nature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.linagora.petals.common.exportWizard"
            class="com.linagora.petals.services.su.export.SuBulkExportWizard"
            icon="icons/obj16/jbi_export.png"
            id="com.linagora.petals.services.suBulkExportWizard"
            name="Bulk Services">
         <description>
            Generate several Petals services from one Service Unit project
         </description>
      </wizard>
      <wizard
            category="com.linagora.petals.common.exportWizard"
            class="com.linagora.petals.services.su.export.SuExportWizard"
            icon="icons/obj16/su_export.png"
            id="com.linagora.petals.services.suExportWizard"
            name="Service Unit">
         <description>
            Export one or several Service Unit projects
         </description>
      </wizard>
      <wizard
            category="com.linagora.petals.common.exportWizard"
            class="com.linagora.petals.services.sa.export.SaExportWizard"
            icon="icons/obj16/sa_export.png"
            id="com.linagora.petals.services.saExportWizard"
            name="Service Assembly">
         <description>
            Export one or several Service Assembly projects
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.linagora.petals.services.explorer">
         <propertyCategory
               category="com.linagora.petals.services">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.linagora.petals.services.explorer">
         <propertyTab
               category="com.linagora.petals.services"
               id="com.linagora.petals.services.cardIDTab"
               label="Identification">
         </propertyTab>
         <propertyTab
               afterTab="com.linagora.petals.services.cardIDTab"
               category="com.linagora.petals.services"
               id="com.linagora.petals.services.sourceTab"
               label="Source">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.linagora.petals.services.explorer">
         <propertySection
               class="com.linagora.petals.common.internal.provisional.tabbedproperties.ServiceCardIdSection"
               enablesFor="1"
               id="com.linagora.petals.services.cardIDSection"
               tab="com.linagora.petals.services.cardIDTab">
            <input
                  type="com.linagora.petals.common.internal.provisional.tabbedproperties.IServiceCardId">
            </input>
         </propertySection>
         <propertySection
               class="com.linagora.petals.services.properties.EndpointSourcePropertySection"
               enablesFor="1"
               id="com.linagora.petals.services.sourceSection"
               tab="com.linagora.petals.services.sourceTab">
            <input
                  type="com.linagora.petals.services.explorer.model.EndpointBean">
            </input>
            <input
                  type="com.linagora.petals.services.explorer.sources.EndpointSource">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.linagora.petals.common.projectCategories">
      <Category
            class="com.linagora.petals.services.su.projectscnf.SuProjectCategory">
      </Category>
      <Category
            class="com.linagora.petals.services.sa.projectscnf.SaProjectCategory">
      </Category>
   </extension>
   
    <extension
          point="com.linagora.petals.services.componentExtension">
       <ComponentSupport
             id="generic">
          <ComponentVersionSupport
                componentVersionDescription="com.linagora.petals.services.su.extensions.generic.GenericComponentDescription"
                consumesExtensionWizard="com.linagora.petals.services.su.extensions.generic.GenericComponentWizard"
                id="Generic"
                providesExtensionWizard="com.linagora.petals.services.su.extensions.generic.GenericComponentWizard">
          </ComponentVersionSupport>
       </ComponentSupport>
    </extension>

	<extension point="com.linagora.petals.common.formeditor">
    <Personality
          class="com.linagora.petals.services.su.editor.SuPersonality">
    </Personality>
    <Personality
          class="com.linagora.petals.services.sa.editor.SaPersonality">
    </Personality>
	</extension>

</plugin>
