<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rest -->
      <package
            uri="http://petals.ow2.org/components/rest/version-1"
            class="com.ebmwebsourcing.petals.services.rest.rest.restPackage"
            genModel="model/rest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rest -->
      <parser
            type="rest"
            class="com.ebmwebsourcing.petals.services.rest.rest.util.restResourceFactoryImpl"/>
   </extension>
</plugin>
