<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
	 Copyright (c) 2017-2018, Linagora

	 All rights reserved. This program and the accompanying materials
 	 are made available under the terms of the Eclipse Public License v1.0
 	 which accompanies this distribution, and is available at
 	 http://www.eclipse.org/legal/epl-v10.html
 
 	 Contributors:
     	 	Linagora - initial API and implementation
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rest -->
      <package
            uri="http://petals.ow2.org/components/rest/version-1"
            class="com.ebmwebsourcing.petals.services.rest.rest.RestPackage"
            genModel="model/rest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rest -->
      <parser
            type="rest"
            class="com.ebmwebsourcing.petals.services.rest.rest.util.RestResourceFactoryImpl"/>
   </extension>
   
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport id="rest">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.rest.RestDescription13"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.rest.v1x.RestConsumesWizard1x"
               editorExtension="com.ebmwebsourcing.petals.services.rest.editor.RestEditorContribution"
               id="REST 1.3"
               namespace="http://petals.ow2.org/components/rest/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.rest.v1x.RestProvidesWizard1x">
         </ComponentVersionSupport>
      
      	 <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.rest.RestDescription12"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.rest.v1x.RestConsumesWizard1x"
               editorExtension="com.ebmwebsourcing.petals.services.rest.editor.RestEditorContribution"
               id="REST 1.2"
               namespace="http://petals.ow2.org/components/rest/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.rest.v1x.RestProvidesWizard1x">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
</plugin>
