<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
	 Copyright (c) 2019, Linagora

	 All rights reserved. This program and the accompanying materials
 	 are made available under the terms of the Eclipse Public License v1.0
 	 which accompanies this distribution, and is available at
 	 http://www.eclipse.org/legal/epl-v10.html
 
 	 Contributors:
     	 	Linagora - initial API and implementation
 </copyright>
-->

<plugin>
   
   <extension
         point="com.linagora.petals.services.componentExtension">
         
      <!-- There is no EMF model extension for this component -->
      <!--
      	And we do not provide editor extensions since services extensions are not covered and also because
      	Flowable, like Camel, requires editor wizards to be different than project creation ones. We must
      	encourage users to use the source editor for these components. :/
      	
      	And since this component does not have editor extensions, the form editor is very incomplete.
      	So, we removed it.
      -->
      <ComponentSupport id="flowable">
         <ComponentVersionSupport
               componentVersionDescription="com.linagora.petals.services.flowable.FlowableDescription12"
               id="Flowable 1.2"
               providesExtensionWizard="com.linagora.petals.services.flowable.v1x.FlowableWizard1x">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
</plugin>
